// -------- Primary --------
$black-smoth: #000a0c;
// -------- Neutral --------
$gray: #65625a;
$gray-light: #848986;
$very-gray: #505956;
$gray-white: #bdbbb7;
// -------- Gradient bg -------

// -------- Font size --------
$lg: 1.5em;
$rm: 1.25em;
$md: 1em;
$sm: 0.75em;
